@import "variables";
@import "mixins";

@import "basic/reset";
@import "basic/typography";
@import "basic/utilities";

@import "components/button";
@import "components/header";
@import "components/socialicons";
@import "components/title";
@import "components/form";
@import "components/service";
@import "components/progress";
@import "components/resume";

@import "pages/home";
@import "pages/contact";
@import "pages/about";
